@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --first-color: #27374D;
  --second-color: #526D82;
  --third-color: #9DB2BF;
  --fourth-color: #DDE6ED;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  color: var(--first-color);
  margin-bottom: 0;
  background-color: var(--fourth-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  background-color: var(--second-color);
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.shai {
  font-size: 2.5rem;
  color: var(--fourth-color);
  font-weight: 700;
  cursor: default;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  width: 100%;
  white-space: none;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
}

.nav ul li a {
  font-size: 1.5rem;
  color: var(--third-color);
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover,
.nav a.active {
  color: #111111;
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: lightgray;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  left: 0;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  top: 6px;
}

@media(max-width: 768px) {
  .nav-toggler {
    display: flex;
  }

  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--fourth-color);
    opacity: 70%;
    visibility: hidden;
    text-align: center;
    transition: 0.2s;
  }

  .header .nav ul li {
    display: block;
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
  }

  .header #nav-check:checked~.nav {
    opacity: 100%;
    visibility: visible;
  }

  .header #nav-check:focus~.nav-toggler {
    box-shadow: 5px 5px 15px #000000;
  }

  .header #nav-check:checked~.nav-toggler span {
    background-color: transparent;
  }

  .header #nav-check:checked~.nav-toggler span::before {
    top: 0;
    transform: rotate(45deg);
  }

  .header #nav-check:checked~.nav-toggler span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

.intro {
  display: flex;
  align-items: center;
  padding: 0 5%;
  background: url('clark.jpg') no-repeat;
  max-width: 100%;
  background-size: cover;
  background-position: 69%;
  height: auto;
}
.aboutme{
  width: 100%;
  min-height: auto;
  padding: 7%;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  background: var(--fourth-color);
}

.heady {
  font-size: 4rem;
  text-align: center;
  color: var(--second-color);
}

span.pr {
  color: var(--first-color);
}

.profile-cont {
  text-align: center;
}

.profile-cont p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  margin: 2rem 0 3rem;
  color: lightgray;
  background-color: var(--first-color);
  padding: 3rem;
  border-radius: 25px;
  box-shadow: offset 5px 5px 10px lightgray;
  transition: transform .5s;
}

.profile-cont p:hover {
  transform: scale(1.1);
}

.journey {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  background-color: var(--third-color);
}

.heady2 {
  font-size: 4rem;
  text-align: center;
  color: var(--first-color);
  padding-bottom: 3.5rem;
}

span.cc {
  color: var(--second-color);
}

.journey .journey-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.journey-row .journey-column {
  flex: 1 1 40rem;
}

.journey-column .myjourney {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.journey-column .journey-box {
  border-left: 0.5rem solid var(--first-color);
}

.journey-box .journey-content {
  position: relative;
  padding: 1.8rem;
}

.journey-box .journey-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 50%;
}

.journey-content .content {
  font-size: 1.2rem;
  color: var(--fourth-color);
  background-color: var(--fourth-color);
  position: relative;
  padding: 1rem;
  border: 0.5rem solid var(--first-color);
  border-radius: 0.8rem;
  margin-bottom: .2rem;
  overflow: hidden;
}

.journey-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--first-color);
  opacity: 20%;
  transition: 0.5s;
}

.journey-content .content:hover::before {
  width: 100%;
}

.journey-content .content .year {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--first-color);
  padding-bottom: .3rem;
}

.journey-content .content .year i {
  padding-right: .5rem;
}

.journey-content .content h3 {
  font-size: 1.7rem;
  color: var(--first-color);
}

.journey-content .content p {
  font-size: 1.4rem;
  padding-top: 0.5rem;
  color: var(--first-color);
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--third-color);
  margin-bottom: 0;
}

.photos-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 30px;
  padding: 60px 30px;
  margin-top: -50px;
}

.photos-container .photos-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 275px;
  height: 200px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.photos-container .photos-card:hover {
  height: 250px;
  transform: scale(1.02);
}

.photos-container .photos-card .photos-box {
  position: absolute;
  height: 150px;
  width: 235px;
  background-color: #111111;
  overflow: hidden;
  top: 15px;
  border-radius: 12px;
  transition: 0.5s;
}

.photos-container .photos-card:hover .photos-box {
  top: -40px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.photos-container .photos-card .photos-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.photos-container .photos-card .photos-content .g1,
.photos-container .photos-card .photos-content .g2,
.photos-container .photos-card .photos-content .g3,
.photos-container .photos-card .photos-content .g4,
.photos-container .photos-card .photos-content .g5,
.photos-container .photos-card .photos-content .g6 {
  color: #111111;
  top: 170px;
  position: absolute;
  width: 100%;
  padding: 0 30px;
  text-align: center;
}

.photos-container .photos-card .photos-content .commentary {
  color: transparent;
  width: 100%;
  padding: 190px 30px;
  text-align: center;
}

.photos-container .photos-card:hover .photos-content .g1,
.photos-container .photos-card:hover .photos-content .g2,
.photos-container .photos-card:hover .photos-content .g3,
.photos-container .photos-card:hover .photos-content .g4,
.photos-container .photos-card:hover .photos-content .g5,
.photos-container .photos-card:hover .photos-content .g6 {
  top: 115px;
  height: 250px;
  transition: 0.5s;
  font-size: 1.55rem;
  font-weight: 800;
}

.photos-container .photos-card:hover .photos-content .commentary {
  color: #111111;
  transition: 0.5s;
  padding: 140px 30px 0 30px;
  font-size: 1.3rem;
  font-weight: 500;
}

.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  width: 100%;
  margin-top: 0;
}

.personal .pcard {
  position: relative;
  width: 305px;
  height: 305px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.personal .pcard .pbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.personal .pcard:hover .pbox {
  transform: rotateY(180deg);
}

.personal .pcard .pbox .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.personal .pcard .pbox .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.personal .pcard .pbox .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--third-color);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.personal .pcard .pbox .contentBx div {
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, var(--first-color), var(--second-color));
  transform: translateZ(100px);
}

.personal .pcard .pbox .contentBx .ccc h2 {
  color: var(--fourth-color);
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
}

.personal .pcard .pbox .contentBx .ccc p {
  color: var(--third-color);
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.image-grid {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 20px;
  margin-bottom: 80px;
}

.image-grid>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  transition: 0.3s ease-in;
}

.image-grid img:hover {
  transform: scale(1.05);
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.contact {
  background-color: var(--third-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: var(--fourth-color);
}

.contact-in {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  border-radius: 10px;
  background: var(--second-color);
  box-shadow: 0px 0px 10px 0px darkgray;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 30%;
}

.contact-map img {
  width: 90%;
  height: 102%;
  padding: 10px;
  object-fit: cover;
  border-radius: 50px;
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
}

.contact-form h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px;
}

.contact-form-txt {
  width: 100%;
  height: 40px;
  color: va(--second-color);
  border: 1px solid var(--first-color);
  border-radius: 10px;
  outline: none;
  margin-bottom: 15px;
  padding: 10px;
}

.contact-form-txt::placeholder {
  color: var(--first-color);
}

.contact-form-textarea {
  width: 100%;
  height: 190px;
  color: va(--second-color);
  border: 1px solid var(--first-color);
  border-radius: 10px;
  outline: none;
  margin-bottom: 15px;
  padding: 10px;
}

.contact-form-textarea::placeholder {
  color: var(--first-color);
}

.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--third-color);
  color: var(--first-color);
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact-form-btn:hover {
  background-color: var(--first-color);
  color: var(--third-color);
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--first-color);
  color: lightgray;
}

.foot-cont p {
  font-size: 1.6rem;
}

.foot-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: var(--third-color);
  border: .2rem solid var(--third-color);
  border-radius: .6rem;
  overflow: hidden;
}

.foot-icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

.foot-icon a i {
  font-size: 2.4rem;
  color: var(--first-color);
}